In [1]:
import sys
print(sys.executable)

c:\Users\HomePC\anaconda3\envs\Python-ds\python.exe

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\homepc\anaconda3\envs\python-ds\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\homepc\anaconda3\envs\python-ds\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\homepc\anaconda3\envs\python-ds\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\homepc\anaconda3\envs\python-ds\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\homepc\anaconda3\envs\python-ds\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\homepc\anaconda3\envs\python-ds\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

In [11]:
   import os
   print([f for f in os.listdir() if f.endswith('.xlsx') or f.endswith('.csv')])

['_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx']

In [14]:
   !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.9 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.9 kB 487.6 kB/s eta 0:00:01
   ------------ -------------------------- 81.9/250.9 kB 573.4 kB/s eta 0:00:01
   ----------------- -------------------- 112.6/250.9 kB 504.4 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.9 kB 473.7 kB/s eta 0:00:01
   ------------------------ ------------- 163.8/250.9 kB 490.7 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 491.5 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 491.5 kB/s eta 0:00:01
   -------------------------------------- 250.9/250.9 kB 466.4 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [15]:
   df = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', engine='openpyxl')

In [16]:
print(df.head())

   Mentor_ID     Mentor_Name  Mentee_Name  Session_Number  \
0       1001     Sarah Clark    Bob Brown               1
1       1003     Emily Davis  Carol White               2
2       1005    James Wilson   Jane Smith               2
3       1003     Emily Davis    Bob Brown               1
4       1002  David Thompson   Jane Smith               2

   Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded  \
0                    40                Yes   2023-01-01             NaN
1                    30                Yes   2023-01-08             NaN
2                    40                Yes   2023-01-15             NaN
3                    30                 No   2023-01-29             NaN
4                    50                 No   2023-02-05             NaN

   Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11   Mentor_Name.1  \
0         NaN         NaN          NaN          NaN     Sarah Clark
1         NaN         NaN          NaN          NaN  David Thompson
2         NaN         NaN          NaN          NaN     Emily Davis
3         NaN         NaN          NaN          NaN     Michael Lee
4         NaN         NaN          NaN          NaN    James Wilson

   Mentor_ID.1
0       1001.0
1       1002.0
2       1003.0
3       1004.0
4       1005.0

In [17]:
import pandas as pd

# Read the Excel file
excel_file = pd.ExcelFile('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx')

# Print the sheet names
print(excel_file.sheet_names)

['Mentorship_Sessions', 'Raw_Reward_Data']

In [18]:
# Read a specific sheet by name
mentorship = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Mentorship_Sessions')

# Print the first few rows of the first sheet
print(mentorship.head())

# Read another sheet
reward = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Raw_Reward_Data')

# Print the first few rows of the second sheet
print(reward.head())

   Mentor_ID     Mentor_Name  Mentee_Name  Session_Number  \
0       1001     Sarah Clark    Bob Brown               1
1       1003     Emily Davis  Carol White               2
2       1005    James Wilson   Jane Smith               2
3       1003     Emily Davis    Bob Brown               1
4       1002  David Thompson   Jane Smith               2

   Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded  \
0                    40                Yes   2023-01-01             NaN
1                    30                Yes   2023-01-08             NaN
2                    40                Yes   2023-01-15             NaN
3                    30                 No   2023-01-29             NaN
4                    50                 No   2023-02-05             NaN

   Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11   Mentor_Name.1  \
0         NaN         NaN          NaN          NaN     Sarah Clark
1         NaN         NaN          NaN          NaN  David Thompson
2         NaN         NaN          NaN          NaN     Emily Davis
3         NaN         NaN          NaN          NaN     Michael Lee
4         NaN         NaN          NaN          NaN    James Wilson

   Mentor_ID.1
0       1001.0
1       1002.0
2       1003.0
3       1004.0
4       1005.0
  Member_Name_Surname_Per_Redemption        Reward_Received     Brand  \
0                         Jane Smith       Amazon Gift Card    Amazon
1                     David Thompson  Coursera Subscription  Coursera
2                       James Wilson      Netflix Gift Card   Netflix
3                     David Thompson   Spotify Subscription   Spotify
4                      Alice Johnson      Spotify Gift Card   Spotify

   Reward_Value_Amount_in_Dollars  Time_to_Reward_Received_in_Seconds  \
0                              50                                  43
1                              10                                   9
2                              50                                   5
3                              50                                  23
4                              10                                  41

   Redemptions_by_User  Point_Value_per_Redemption  \
0                    8                         500
1                    2                         250
2                    9                         750
3                    5                         750
4                    7                        1000

   Satisfaction_Rating_on_Reward  Cost_Per_Redemption_in_Dollars Country
0                       3.906216                              66   Kenya
1                       3.797088                              67   Kenya
2                       4.372271                              72   Kenya
3                       4.209811                              24   Kenya
4                       3.767192                              41   Kenya

In [19]:

# Read the 'Reward' sheet
reward = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Raw_Reward_Data')

# Print the number of rows before removing duplicates
print("Number of rows before removing duplicates:", len(reward))

# Remove duplicates
reward_no_duplicates = reward.drop_duplicates()

# Print the number of rows after removing duplicates
print("Number of rows after removing duplicates:", len(reward_no_duplicates))

# Display the first few rows of the deduplicated dataframe
print(reward_no_duplicates.head())

# If you want to save the deduplicated data back to Excel
# reward_no_duplicates.to_excel('Reward_Data_No_Duplicates.xlsx', index=False)

Number of rows before removing duplicates: 100
Number of rows after removing duplicates: 100
  Member_Name_Surname_Per_Redemption        Reward_Received     Brand  \
0                         Jane Smith       Amazon Gift Card    Amazon
1                     David Thompson  Coursera Subscription  Coursera
2                       James Wilson      Netflix Gift Card   Netflix
3                     David Thompson   Spotify Subscription   Spotify
4                      Alice Johnson      Spotify Gift Card   Spotify

   Reward_Value_Amount_in_Dollars  Time_to_Reward_Received_in_Seconds  \
0                              50                                  43
1                              10                                   9
2                              50                                   5
3                              50                                  23
4                              10                                  41

   Redemptions_by_User  Point_Value_per_Redemption  \
0                    8                         500
1                    2                         250
2                    9                         750
3                    5                         750
4                    7                        1000

   Satisfaction_Rating_on_Reward  Cost_Per_Redemption_in_Dollars Country
0                       3.906216                              66   Kenya
1                       3.797088                              67   Kenya
2                       4.372271                              72   Kenya
3                       4.209811                              24   Kenya
4                       3.767192                              41   Kenya

In [20]:
import pandas as pd
import numpy as np

# Read the 'Reward' sheet
reward = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Raw_Reward_Data')

# 1. Remove duplicates
reward = reward.drop_duplicates()

# 2. Check for missing values
print("Missing values:\n", reward.isnull().sum())

# 3. Handle missing values (fill or drop)
reward = reward.fillna(0)  # Fill NaN with 0, or use appropriate method

# 4. Check data types
print("\nData types:\n", reward.dtypes)

# 5. Convert data types if necessary
# For example, convert 'Date' column to datetime
if 'Date' in reward.columns:
    reward['Date'] = pd.to_datetime(reward['Date'], errors='coerce')

# 6. Remove any leading/trailing whitespace in string columns
reward = reward.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# 7. Check for and remove any obvious outliers
# This is a simple example, adjust based on your data
for col in reward.select_dtypes(include=[np.number]).columns:
    Q1 = reward[col].quantile(0.25)
    Q3 = reward[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    reward = reward[(reward[col] >= lower_bound) & (reward[col] <= upper_bound)]

# 8. Display info about the cleaned dataset
print("\nCleaned dataset info:")
print(reward.info())

# 9. Display first few rows of cleaned data
print("\nFirst few rows of cleaned data:")
print(reward.head())

# 10. Save cleaned data
# reward.to_excel('Cleaned_Reward_Data.xlsx', index=False)

Missing values:
 Member_Name_Surname_Per_Redemption    0
Reward_Received                       0
Brand                                 0
Reward_Value_Amount_in_Dollars        0
Time_to_Reward_Received_in_Seconds    0
Redemptions_by_User                   0
Point_Value_per_Redemption            0
Satisfaction_Rating_on_Reward         0
Cost_Per_Redemption_in_Dollars        0
Country                               0
dtype: int64

Data types:
 Member_Name_Surname_Per_Redemption     object
Reward_Received                        object
Brand                                  object
Reward_Value_Amount_in_Dollars          int64
Time_to_Reward_Received_in_Seconds      int64
Redemptions_by_User                     int64
Point_Value_per_Redemption              int64
Satisfaction_Rating_on_Reward         float64
Cost_Per_Redemption_in_Dollars          int64
Country                                object
dtype: object

Cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Member_Name_Surname_Per_Redemption  100 non-null    object
 1   Reward_Received                     100 non-null    object
 2   Brand                               100 non-null    object
 3   Reward_Value_Amount_in_Dollars      100 non-null    int64
 4   Time_to_Reward_Received_in_Seconds  100 non-null    int64
 5   Redemptions_by_User                 100 non-null    int64
 6   Point_Value_per_Redemption          100 non-null    int64
 7   Satisfaction_Rating_on_Reward       100 non-null    float64
 8   Cost_Per_Redemption_in_Dollars      100 non-null    int64
 9   Country                             100 non-null    object
dtypes: float64(1), int64(5), object(4)
memory usage: 7.9+ KB
None

First few rows of cleaned data:
  Member_Name_Surname_Per_Redemption        Reward_Received     Brand  \
0                         Jane Smith       Amazon Gift Card    Amazon
1                     David Thompson  Coursera Subscription  Coursera
2                       James Wilson      Netflix Gift Card   Netflix
3                     David Thompson   Spotify Subscription   Spotify
4                      Alice Johnson      Spotify Gift Card   Spotify

   Reward_Value_Amount_in_Dollars  Time_to_Reward_Received_in_Seconds  \
0                              50                                  43
1                              10                                   9
2                              50                                   5
3                              50                                  23
4                              10                                  41

   Redemptions_by_User  Point_Value_per_Redemption  \
0                    8                         500
1                    2                         250
2                    9                         750
3                    5                         750
4                    7                        1000

   Satisfaction_Rating_on_Reward  Cost_Per_Redemption_in_Dollars Country
0                       3.906216                              66   Kenya
1                       3.797088                              67   Kenya
2                       4.372271                              72   Kenya
3                       4.209811                              24   Kenya
4                       3.767192                              41   Kenya

In [24]:
import pandas as pd

# Read the 'Mentorship' sheet
mentorship = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Mentorship_Sessions')

# Display the shape of the dataframe before changes
print("Shape before changes:", mentorship.shape)

# Remove the VLOOKUP table (columns M and N, rows 1 to 7)
mentorship.iloc[0:7, 12:14] = ''  # Assuming M is the 13th column (index 12) and N is the 14th (index 13)

# Display the first few rows to verify the changes
print("\nFirst few rows after removing VLOOKUP table:")
print(mentorship.head(10))

# Display the shape of the dataframe after changes
print("\nShape after changes:", mentorship.shape)

# Optionally, save the updated dataframe back to Excel
# mentorship.to_excel('Updated_Mentorship_Data_Without_VLOOKUP.xlsx', index=False)

Shape before changes: (105, 14)

First few rows after removing VLOOKUP table:
   Mentor_ID     Mentor_Name  Mentee_Name  Session_Number  \
0       1001     Sarah Clark    Bob Brown               1
1       1003     Emily Davis  Carol White               2
2       1005    James Wilson   Jane Smith               2
3       1003     Emily Davis    Bob Brown               1
4       1002  David Thompson   Jane Smith               2
5       1004     Michael Lee   Jane Smith               2
6       1001     Sarah Clark     John Doe               2
7       1004     Michael Lee  Carol White               1
8       1001     Sarah Clark  Carol White               1
9       1005    James Wilson  Carol White               1

   Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded  \
0                    40                Yes   2023-01-01             NaN
1                    30                Yes   2023-01-08             NaN
2                    40                Yes   2023-01-15             NaN
3                    30                 No   2023-01-29             NaN
4                    50                 No   2023-02-05             NaN
5                    50                 No   2023-02-05             NaN
6                    40                Yes   2023-02-12             NaN
7                    30                 No   2023-02-19             NaN
8                    30                 No   2023-02-26             NaN
9                    40                 No   2023-03-05             NaN

   Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11 Mentor_Name.1 Mentor_ID.1
0         NaN         NaN          NaN          NaN
1         NaN         NaN          NaN          NaN
2         NaN         NaN          NaN          NaN
3         NaN         NaN          NaN          NaN
4         NaN         NaN          NaN          NaN
5         NaN         NaN          NaN          NaN
6         NaN         NaN          NaN          NaN
7         NaN         NaN          NaN          NaN           NaN         NaN
8         NaN         NaN          NaN          NaN           NaN         NaN
9         NaN         NaN          NaN          NaN           NaN         NaN

Shape after changes: (105, 14)

C:\Users\HomePC\AppData\Local\Temp\ipykernel_2384\2327999358.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  mentorship.iloc[0:7, 12:14] = ''  # Assuming M is the 13th column (index 12) and N is the 14th (index 13)

In [25]:

# Read the 'Mentorship' sheet
mentorship = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Mentorship_Sessions')

# Display the shape of the dataframe before removing duplicates
print("Shape before removing duplicates:", mentorship.shape)

# Remove duplicates
mentorship_no_duplicates = mentorship.drop_duplicates()

# Display the shape of the dataframe after removing duplicates
print("Shape after removing duplicates:", mentorship_no_duplicates.shape)

# Calculate the number of duplicates removed
duplicates_removed = mentorship.shape[0] - mentorship_no_duplicates.shape[0]
print(f"Number of duplicate rows removed: {duplicates_removed}")

# Display the first few rows of the deduplicated dataframe
print("\nFirst few rows of deduplicated data:")
print(mentorship_no_duplicates.head())

# Optionally, save the deduplicated data back to Excel
# mentorship_no_duplicates.to_excel('Mentorship_Data_No_Duplicates.xlsx', index=False)

Shape before removing duplicates: (105, 14)
Shape after removing duplicates: (105, 14)
Number of duplicate rows removed: 0

First few rows of deduplicated data:
   Mentor_ID     Mentor_Name  Mentee_Name  Session_Number  \
0       1001     Sarah Clark    Bob Brown               1
1       1003     Emily Davis  Carol White               2
2       1005    James Wilson   Jane Smith               2
3       1003     Emily Davis    Bob Brown               1
4       1002  David Thompson   Jane Smith               2

   Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded  \
0                    40                Yes   2023-01-01             NaN
1                    30                Yes   2023-01-08             NaN
2                    40                Yes   2023-01-15             NaN
3                    30                 No   2023-01-29             NaN
4                    50                 No   2023-02-05             NaN

   Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11   Mentor_Name.1  \
0         NaN         NaN          NaN          NaN     Sarah Clark
1         NaN         NaN          NaN          NaN  David Thompson
2         NaN         NaN          NaN          NaN     Emily Davis
3         NaN         NaN          NaN          NaN     Michael Lee
4         NaN         NaN          NaN          NaN    James Wilson

   Mentor_ID.1
0       1001.0
1       1002.0
2       1003.0
3       1004.0
4       1005.0

In [26]:
import pandas as pd
import os

# Read and clean the Mentorship data (assuming you've already done the cleaning steps)
mentorship = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Mentorship_Sessions')
mentorship_clean = mentorship.drop_duplicates()

# Read and clean the Reward data (assuming you've already done the cleaning steps)
reward = pd.read_excel('_Data Sets Reward_Program_Assignment_Input_v6 - TA.xlsx', sheet_name='Raw_Reward_Data')
reward_clean = reward.drop_duplicates()

# Save both cleaned datasets to a new Excel file with multiple sheets
with pd.ExcelWriter('Cleaned_Data.xlsx') as writer:
    mentorship_clean.to_excel(writer, sheet_name='Cleaned_Mentorship', index=False)
    reward_clean.to_excel(writer, sheet_name='Cleaned_Reward', index=False)

# Optionally, save as CSV files
mentorship_clean.to_csv('Cleaned_Mentorship_Data.csv', index=False)
reward_clean.to_csv('Cleaned_Reward_Data.csv', index=False)

print("The cleaned datasets have been saved as:")
print("1. 'Cleaned_Data.xlsx' (contains both sheets)")
print("2. 'Cleaned_Mentorship_Data.csv'")
print("3. 'Cleaned_Reward_Data.csv'")

# Print the current working directory
print("\nFiles are saved in:", os.getcwd())

The cleaned datasets have been saved as:
1. 'Cleaned_Data.xlsx' (contains both sheets)
2. 'Cleaned_Mentorship_Data.csv'
3. 'Cleaned_Reward_Data.csv'

Files are saved in: c:\Users\HomePC\Downloads\Projects\Data_assignment